# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build output
bin/
obj/
Debug/
Release/
x64/
x86/

# Node
node_modules/
dist/
build/

# Logs
*.log

# Environment files
.env
.env.*

# Certificates / secrets
#*.pem
#*.key
#*.pfx
#*.crt

# OS files
.DS_Store
Thumbs.db

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib

# IDEs
.idea/
.vscode/

# Coverage
coverage/
*.out


# Exam files
exam_files/
student_work/


backend/backend.db
backend/backend.db-shm